.main{
    min-height: calc(100vh - 154px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 126px 28px;
    background-color: #fff9f1;

    @media (max-width: 834px){
        padding-block: 150px 262px;
        padding-inline: 32px;
    }

    @media (max-width: 480px){
        padding-block: 127px 49px;
        padding-inline: 24px;
    }
}

.form_container{
    width: 66.67vw;
    min-height: fit-content;
    border-radius: 14px;
    display: flex;
    background-color: white;

    @media (max-width: 834px){
        width: 100%;
    }
}

.left{
    width: 60%;
    padding: 28px 64px 28px 40px;

    @media (max-width: 834px){
        width: 100%;
        padding-block: 74px;
        padding-inline: 75px;
    }

    @media (max-width: 480px){
        width: 100%;
        padding: 28px;
        padding-bottom: 399px;
    }
}

.heading {
    color: #4C4D4F;
    font-family: Cabin;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-block: 0 14px;
    
    @media (max-width: 834px){
        font-size: 42.428px;
        margin-block: 0 17.11px;
    }
    
    @media (max-width: 480px){
        font-size: 30px;
        line-height: 170%;
        margin-block: 0 14px;
    }
}

.subheading {
    width: 72%;
    color: #4C4D4F;
    font-family: PT Serif;
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
    margin-block: 0 32px;
    
    @media (max-width: 834px){
        font-size: 17.47px;
        margin-block: 0 39.34px;
    }
    
    @media (max-width: 480px){
        font-size: 14px;
        color: rgba(76, 77, 79, 0.50);
        margin-block: 0 32px;
    }
}

.form{
    margin-bottom: 24px;
    
    @media (max-width: 834px){
        margin-bottom: 24px;
    }
    
    @media (max-width: 480px){
        margin-bottom: 45px;
    }
}

.form > :first-child {
    margin-bottom: 32px;

    @media (max-width: 834px) and (min-width: 481px){
        margin-bottom: 39.9px;
    }
    
    @media (max-width: 480px){
    }
}

.center_align {
    display: flex;
    justify-content: center;
}

.back_to_login {
    align-self: center;
    color: rgba(76, 77, 79, 0.50);
    font-family: PT Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    text-decoration-line: underline;cursor: pointer;

    @media (max-width: 834px) and (min-width: 481px){
        font-size: 14.975px;
    }
}

.right{
    width: 40%;
    flex-shrink: 0;
    border-radius: 0px 14px 14px 0px;
    background: url('../../../../assets/forgot-password.png'), lightgray 50%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    @media (max-width: 834px){
        display: none;
    }
}

.SClogo{
    width: 38.54%;
    aspect-ratio: 1;
    position: absolute;
    right: 0;
    top: 0;
}